@{
    Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>Machines</h2>

<h3>@Model.Name</h3>

@if (@Model.JoinEntities.Count == 0)
{
    <p>This machine is not assigned to any licensed engineers.</p>
}

<div id="nav-links">
    <p>@Html.ActionLink("Machines", "Index", "Machines")</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>