@{
    Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h2>Engineers</h2>

<h3>@Model.Name</h3>

@if (@Model.JoinEntities.Count == 0)
{
    <p>This engineer is not liscensed to repair any machines.</p>
}