@{
    Layout = "_Layout";
}

@using Factory.Models;

<h1>Factory Maintenance Manager</h1>

<div id="nav-links">
    <p>@Html.ActionLink("Engineers", "Index", "Engineers")</p>
    <p>@Html.ActionLink("Machines", "Index", "Machines")</p>
</div>

